body {font-family: Univers, "Univers 55", "Lucida Grande CE", lucida, Helvetica, san-serif;
	font-size:small;
	background-color: #fefefe;
	color:#666;
	line-height:1.225
}
th {font-weight: normal;
	//background-image:none !important
}
.ui-widget-header {
	//font-weight: normal;
}
.ui-column-filter {
	display: block;
	margin: auto;
	width: 95% !important;
}

.ui-datatable.headerless thead th {
	display: none
}

.ui-datatable.listagem tbody tr td {
	line-height: 30px ;
}

