<div class="page">

  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>País</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="panel.home">Principal</a>
            </li>
            <li>
                <a>Localização</a>
            </li>
            <li class="active">
                <strong>País</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
      
    </div>
  </div>
  
  <div class="row wrapper wrapper-content animated fadeIn">
    <div class="col-xs-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <grid></grid>
        </div>
      </div>
    </div>
  </div>

</div>

