<form novalidate name="formDetail" class="inmodal">
    <div class="modal-header">
        <i class="fa fa-globe modal-icon"></i>
        <h4 class="modal-title" ng-init="addTitle = 'Adicionar Pais'; editTitle = 'Editar Pais'">{{title}}</h4>   
    </div>
    <div class="modal-body">
      <div class="col-12">
        <h4>Dados do País</h4>
        <p class="text-navy">Informe ou altere os dados básicos do país</p>
        <div class="row">
          <div class="form-group col-xs-12">
              <label for="nome">Nome:</label>
              <input type="text" id="nome" ng-model="modelEdit.nome" validator="[required]" class="form-control" autofocus />
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <div class="btn-group">
            <button class="btn btn-primary" ng-click="save()">Salvar</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
        </div>
    </div>
</form>