$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


html,
body {
  height: auto !important;
}

/* Fix para sidemenu aparecer atrás do modal */
nav {
    z-index: 1001 !important;
}

.no-resize {
    resize: none !important;
}

.no-resize-w {
    resize: vertical !important;
}

.no-resize-h {
    resize: horizontal !important;
}


.block-ui-visible > .block-ui-container {
  position: fixed !important;
}

.modal .ibox-content {
  border: none;
}

.draggable {
  cursor: move; /* fallback: no `url()` support or images disabled */
  cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
  cursor:    -moz-grab; /* Firefox 1.5-26 */
  cursor:         grab; /* W3C standards syntax, should come least */
}
.draggable:active {
  cursor: -webkit-grabbing;
  cursor:    -moz-grabbing;
  cursor:         grabbing;
}